<div class="wrapper-login">
  <!--  -->
  <form class="row login-box g-3" [formGroup]="loginForm" (submit)="login()">
    <div>
      <h1>Login</h1>
      <p>Hola, Bienvenido</p>
    </div>
    <div class="col-md-12">
      <label for="emailId" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="idEmailLogin" placeholder="email@gail.com"
        [class.is-invalid]="isInvalid('email')">
    </div>
    <div class="col-md-12">
      <label for="passwordId" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" id="idPasswordlogin"
        placeholder="Ingrese su contraseña" [class.is-invalid]="isInvalid('password')">
    </div>
    <div class="d-grid gap-1 col-12 mx-auto my-4">
      <button id="loginBtn" type="submit" class="btn btn-primary btn-block"
        [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>