<div class="wrapper-container">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1>Actualizar Cliente</h1>
      <div class="row">
        <form class="row g-3" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
          <div class="col-md-6">
            <label for="amountId" class="form-label">Nombre</label>
            <input validar type="text" id="idName" name="idName" class="form-control" formControlName="name"
              [class.is-invalid]="isInvalid('name')">
          </div>
          <div class="col-md-6">
            <label for="amountId" class="form-label">Identificación</label>
            <input validar type="text" id="idDocumentNumber" name="idDocumentNumber" class="form-control"
              formControlName="documentNumber" [class.is-invalid]="isInvalid('documentNumber')">
          </div>
          <div class="col-md-6">
            <label for="amountId" class="form-label">Télefono</label>
            <input validar type="text" id="idPhone" name="idPhone" class="form-control" formControlName="phone"
              [class.is-invalid]="isInvalid('phone')">
          </div>
          <div class="col-md-6">
            <label for="amountId" class="form-label">Dirección</label>
            <input validar type="text" id="idAddress" name="idAddress" class="form-control" formControlName="address"
              [class.is-invalid]="isInvalid('address')">
          </div>
          <div class="d-grid gap-1 col-6 mx-auto my-4">
            <button type="submit" id="updateCustomerBtn" class="btn btn-primary"
              [disabled]="customerForm.invalid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>