.card {
  border: none !important;
  background-color: rgba(244, 247, 255, 255);
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.Total-pay {
  font-size: 34px;
  font-weight: bold;
  color: #2179ab;
}